.button {
  all: unset;
  cursor: pointer;
  user-select: none;
  background-color: var(--color-violet);
  color: var(--color-light);
  padding: 13px 16px;
  border-radius: 8px;

  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: none;

  &:hover {
    background-color: var(--color-violet-light);
  }

  &.fullWidth {
    width: 100%;
  }
}