:root {
  // light
  --color-light: #ffffff;
  --color-gray-light: #F8F8F8;

  // dark
  --color-black: #151317;

  // accent
  --color-violet: #512689;
  --color-violet-light: rgba(81, 38, 137, 0.79);

  // waring
  --color-red: #FF6161;
}